<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <script type="text/javascript" src="/test/medias/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/test/medias/three/three.js"></script>
    <script type="text/javascript" src="/test/medias/three/physi.js"></script>
    <script type="text/javascript" src="/test/medias/three/OrbitControls.js"></script>
    <script type="text/javascript" src="/test/medias/three/ConvexObjectBreaker.js"></script>
    <script type="text/javascript" src="/test/medias/three/ConvexGeometry.js"></script>
    <script type="text/javascript" src="/test/medias/three/QuickHull.js"></script>
    <script type="text/javascript" src="/test/medias/three/stats.min.js"></script>
    <style>
        body, html {
            margin: 0;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
<script type="text/javascript" src="/test/medias/threeTest.js"></script>
</body>
</html>